{% extends '::layout.html.twig' %}

{% block body %}
    <h3>Formulaire choix de variante</h3>

    <div class="well">
        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}