{% extends '::layout.html.twig' %}

{% block body %}

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <h1 class="page-header">
                Table
                <small>Texas Holdem</small>
            </h1>

            <div class="table"

                 data-game-id="{{ Game.id }}"

                 data-table-id="{{ Table.id }}"

                 data-current-player="{{ Player.id }}"

                 data-game-session-id="{{ GameSession.id }}"

                 data-image-path="{{asset('assets/images/cards/b.gif')}}" >

                <img src="{{ asset('assets/images/table_poker.jpg')}}" alt="table_poker" />

                <table id="board">
                    <tr>

                        <td class="flop">
                            <img class="card1" style="display: none;" src="{{asset('assets/images/cards/b.gif')}}" height="60"/>

                            <img class="card2" style="display: none;" src="{{asset('assets/images/cards/b.gif')}}" height="60"/>

                            <img class="card3" style="display: none;" src="{{asset('assets/images/cards/b.gif')}}" height="60"/>
                        </td>

                        <td class="turn">
                            <img class="card1" style="display: none;" src="{{asset('assets/images/cards/b.gif')}}" height="60"/>
                        </td>


                        <td class="river">
                            <img class="card1" style="display: none;" src="{{asset('assets/images/cards/b.gif')}}" height="60"/>
                        </td>

                    </tr>
                </table>

                {% for player in Table.getplayers() %}

                    <div id="player-{{ player.id }}" data-pseudo="{{ player.username }}" class="player{{loop.index}}" >

                        {% if player.image == null %}
                            <img class="avatar" src="{{ asset('assets/images/avatar.png') }}" alt="Avatar" height="100" width="100"/>
                        {% else %}
                         <img class="avatar" src="{{ asset(player.image.getWebPath())}}" alt="{{ player.image.alt }}" height="100" width="100"/>
                        {% endif %}

                        <p class="chips">{{ player.getChipsFor( Table ) }}$</p>

                        <img class="card1"  src="{{asset('assets/images/cards/b.gif')}}" height="60"/>
                        <img class="card2"  src="{{asset('assets/images/cards/b.gif')}}" height="60"/>

                    </div>

                {% endfor %}

                <div class="actions">
                    <span class="clickme"><button type="button" class="coucher">Se coucher</button></span>
                    <span class="clickme"><button type="button" class="passer">Passer</button></span>
                    <span class="clickme"><button type="button" class="suivre">Suivre</button></span>
                    <span class="clickme"><button type="button" class="miser">Miser</button></span>
                    <input name="amount" type="text" value="" placeholder="combien ?" />
                </div>

            </div>
            <div id="position"></div>
        </div>

    </div>

    <div  class="tchat" >
        <h3>Game Infos</h3>

        <section class="messages">

        </section>
    </div>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <!-- Ajax -->
    <script src="{{ asset('assets/js/texasHoldemPoker.js') }}"></script>
{%endblock%}

