{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>Pro-Poker</title>

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('assets/css/modern-business.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/gamepokertexasholdem/css/table.css') }}" type="text/css" rel="stylesheet" />
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

    </head>

    <body>
        {% include 'menunav.html.twig' %}

        {% if variant is defined %}
            <h1>{{variant}}</h1>
        {% endif%}


        <div class="container">
            {% block body %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Poker Texas Holdem
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><i class="fa fa-fw fa-check"></i>Choix du mode de jeu</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <hr>

            {% include 'footer.html.twig' %}

        </div>
    </body>

    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        
    {% endblock %}

</html>
