.error
{
    color: red;
}

.success
{
    color: green;
}

.info
{
    color: blue;
}

table#board
{
    position: absolute ;
    top: 49.3% ;
    left: 36.45% ;
}

table#board td.flop img
{
    margin: 0.3em 0.2em ;
}

table#board td.turn img
{
    margin: 0.3em 0.3em;
}

table#board td.river img
{
    margin: 0.3em 0.3em;
}

p.chips
{
    padding: 0.1em 0.4em ;
    border-radius: 4px ;
}

div[id^="player-"] img[class^="card"]
{
    display: none;
}

div.tchat
{
    position: absolute ;
    top: 6em ;
    right: 0.1em ;
    border: black double 3px ;
    width: 19% ;
    border-radius: 5px ;
}

div.tchat section.messages
{
    overflow-y: scroll ;
    height: 650px ;
    padding: 0.3em 0.5em ;
    position: relative ;
}

div.tchat h3
{
    position: relative ;
    top: -0.7em ;
    left: 0.5em ;
    background-color: white ;
    z-index: 2 ;
    display: inline-block ;
    padding: 0 0.5em ;
    margin: 0 ;

}

div.tchat p:before
{
    content: 'Dealer dit : ' ;
    font-style: italic ;
    font-weight: bold ;
}

img.avatar
{
    border-radius: 55px;
}


div.currentplayer img.avatar
{
    border: 5px double orange;
    padding: 0.3em;
    border-radius: 55px;
}

div.actions
{
    display: none;
}

.tablePot
{
    position: absolute;
    top: 32%;
    right: 42%;
}


.tablePot .amount
{
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
}