{# src/TWS/UserBundle/Resources/views/layout.html.twig #}

{% extends '::layout.html.twig' %}

{% block body %}

    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <h3>Connexion</h3>

    <div class="well">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <hr>

    <h3>Inscription</h3>
    <div class="well">
        {{ render(controller("FOSUserBundle:Registration:register")) }}
    </div>

{% endblock %}