{% extends '::layout.html.twig' %}

{% block body %}


    <h3>Bienvenue {{ app.user.username }}</h3>

    {% if app.user.image %}
        <img
            src="{{ asset(app.user.image.getWebPath())}}" alt="{{ app.user.image.alt }}"
        />
    {% else %}
        <img src="{{ asset( 'assets/images/avatar.png' )}}" width="100px"/>
    {% endif %}
    <div class="well">
        {{ form(form) }}
    </div>

    <p>Total de jetons : {{ app.user.bankroll }}</p>




{% endblock %}